terrastate
Gopkg.lock
vendor/

## terraform stuff
.terraform/
file.plan
terraform.tfstate
terraform.tfstate.backup
awsstate/debug\.test

aws/debug\.test

debug

terraform/debug\.test

mappedInfra/debug\.test

tfstate/debug\.test
